# Importing Data Using Pandas - Lab

## Introduction

In this lab, you'll get some practice with loading files with summary or metadata, and if you find that easy, the optional "level up" content covers loading data from a corrupted csv file!

## Objectives
You will be able to:

- Use pandas to import data from a CSV and and an Excel spreadsheet  

##  Loading Files with Summary or Meta Data

Load either of the files `'Zipcode_Demos.csv'` or `'Zipcode_Demos.xlsx'`. What's going on with this dataset? Clean it up into a useable format and describe the nuances of how the data is currently formatted.

All data files are stored in a folder titled `'Data'`.

In [1]:
# Import pandas using the standard alias
import pandas as pd

In [15]:
# Import the file and print the first 5 rows
df = pd.read_csv('Data/Zipcode_Demos.csv')
df.head()

,0,Average Statistics,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
0,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,JURISDICTION NAME,10005.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,COUNT PARTICIPANTS,9.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,COUNT FEMALE,4.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,PERCENT FEMALE,0.404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# Print the last 5 rows of df
df.tail()

,0,Average Statistics,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
52,53,10006,6,2,0.33,4,0.67,0,0,6,...,6,100,0,0,6,1,0,0,6,100
53,54,10007,1,0,0,1,1,0,0,1,...,1,100,1,1,0,0,0,0,1,100
54,55,10009,2,0,0,2,1,0,0,2,...,2,100,0,0,2,1,0,0,2,100
55,56,10010,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
56,57,10011,3,2,0.67,1,0.33,0,0,3,...,3,100,0,0,3,1,0,0,3,100

In [ ]:
# What is going on with this data set? Anything unusual?

In [18]:
df.index

RangeIndex(start=0, stop=57, step=1)

In [21]:
df.isnull()

,0,Average Statistics,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
0,False,True,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
5,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
6,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
7,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
8,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
9,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
10,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
11,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
12,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
13,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
14,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
15,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
16,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
17,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
18,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
19,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
20,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
21,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
22,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
23,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
24,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
25,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
26,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
27,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
28,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
29,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
30,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
31,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
32,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
33,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
34,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
35,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
36,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
37,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
38,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
39,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
40,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
41,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
42,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
43,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
44,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
45,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
46,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
47,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
48,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
49,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
50,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
51,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
52,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
53,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
54,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
55,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
56,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [22]:
# Clean up the dataset
#Check for null values

prev_count = 10**3
for row in df.index:
    count = 0
    for entry in df.iloc[row].isnull():
        if entry: #if entry is null, add 1
            count += 1
    if count != prev_count and row != 0:
        print('On row {} there are {} null values. The previous row had {} null values.'.format(row, count, prev_count))
    prev_count = count

On row 1 there are 44 null values. The previous row had 45 null values.
On row 46 there are 0 null values. The previous row had 44 null values.

In [24]:
#because row 1 has 44 null values, skip row 1
#select the first half of the file from beginning to row 45
df1 = pd.read_csv('Data/Zipcode_Demos.csv', skiprows = [1], 
                  nrows = 45,
                 usecols = [0,1,2])
df1.head()

   0  Average Statistics  Unnamed: 2
0  2   JURISDICTION NAME   10005.800
1  3  COUNT PARTICIPANTS       9.400
2  4        COUNT FEMALE       4.800
3  5      PERCENT FEMALE       0.404
4  6          COUNT MALE       4.600

In [25]:
df1.tail()

     0                   Average Statistics  Unnamed: 2
40  42    COUNT NRECEIVES PUBLIC ASSISTANCE       7.100
41  43  PERCENT NRECEIVES PUBLIC ASSISTANCE       0.649
42  44      COUNT PUBLIC ASSISTANCE UNKNOWN       0.000
43  45    PERCENT PUBLIC ASSISTANCE UNKNOWN       0.000
44  46        COUNT PUBLIC ASSISTANCE TOTAL       9.400

In [28]:
#import the second half of the data by skipping the first 46 row
#row 46 is column names so we skip that too
df2 = pd.read_csv('Data/Zipcode_Demos.csv', skiprows = 47)
df2.head()

,47,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
0,48,10001,44,22,0.50,22,0.50,0,0,44,...,44,100,20,0.45,24,0.55,0,0,44,100
1,49,10002,35,19,0.54,16,0.46,0,0,35,...,35,100,2,0.06,33,0.94,0,0,35,100
2,50,10003,1,1,1.00,0,0.00,0,0,1,...,1,100,0,0.00,1,1.00,0,0,1,100
3,51,10004,0,0,0.00,0,0.00,0,0,0,...,0,0,0,0.00,0,0.00,0,0,0,0
4,52,10005,2,2,1.00,0,0.00,0,0,2,...,2,100,0,0.00,2,1.00,0,0,2,100

## Level Up (Optional) - Loading Corrupt CSV files

Occasionally, you encounter some really ill-formatted data. One example of this can be data that has strings containing commas in a csv file. Under the standard protocol, when this occurs, one is supposed to use quotes to differentiate between the commas denoting fields and the commas within those fields themselves. For example, we could have a table like this:  

`ReviewerID,Rating,N_reviews,Review,VenueID
123456,4,137,This restaurant was pretty good, we had a great time.,98765`

Which should be saved like this if it were a csv (to avoid confusion with the commas in the Review text):
`"ReviewerID","Rating","N_reviews","Review","VenueID"
"123456","4","137","This restaurant was pretty good, we had a great time.","98765"`

Attempt to import the corrupt file, or at least a small preview of it. It is appropriately titled `'Yelp_Reviews_Corrupt.csv'`. Investigate some of the intricacies of skipping rows to then pass over this error and comment on what you think is going on.

In [29]:
# Hint: Here's a useful programming pattern to use
try:
    df = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv')
except Exception as e:
    print(e)

Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

In [30]:
#Iteration 1
for i in range(1500, 2000):
    try:
        df = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv', nrows = i)
    except:
        print('First failure at: {}'.format(i))
        break
df1 = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv', nrows = i-1)
print(len(df))
df1.head()

First failure at: 1962
1961

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0.0,dDl8zu1vWPdKGihJrwQbpw,5.0,I love this place! My fiance And I go here atl...,0.0,msQe1u7Z_XuqjGoqhB0J5g
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1.0,LZp4UX5zK3e-c5ZGSeo3kA,1.0,Terrible. Dry corn bread. Rib tips were all fa...,3.0,msQe1u7Z_XuqjGoqhB0J5g
2,4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0.0,jsDu6QEJHbwP2Blom1PLCA,5.0,Delicious healthy food. The steak is amazing. ...,0.0,msQe1u7Z_XuqjGoqhB0J5g
3,5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0.0,pfavA0hr3nyqO61oupj-lA,1.0,This place sucks. The customer service is horr...,2.0,msQe1u7Z_XuqjGoqhB0J5g
4,10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0.0,STiFMww2z31siPY7BWNC2g,5.0,I have been an Emerald Club member for a numbe...,0.0,TlvV-xJhmh7LCwJYXkV-cg

In [31]:
df1.tail()

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
1956,4993,u8C8pRvaHXg3PgDrsUHJHQ,0,2016-08-08,0.0,gXmHGBSBBz2-uHdvGf4lZQ,2.0,just went to a retirement party upstairs and t...,1.0,tFa-r1pxZh04FjxNSEQgcQ
1957,4998,-9nai28tnoylwViuJVrYEQ,0,2015-03-22,0.0,u-zqCN_IXfypJIUzIVUuzw,5.0,Great restaurant and great atmosphere.,NaN,NaN
1958,I had an awesome great time with friends.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1959,I loved the tapas and the excellent paella.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960,I can't wait to come back soon.,0,otDVyX37h61WEbqPLEjCmQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
#Iteration 2
for i in range(0, 500):
    try:
        temp = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv',
                           skiprows = 1962,
                          nrows = i,
                          names = df1.columns)
    except:
        print('First failure at: {}'.format(i))
        break
df2 = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv',
                 skiprows = 1962,
                 nrows = i-1,
                 names = df1.columns)
print(len(df2))
df2.head()

498

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,STAY AWAY FROM THIS PLACE!!!!!!,5,sDofYImMQQmu4Le5G9zmpQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3948,GAKFx4jFUtTOTpp_jDJnuA,0,2017-09-01,0,OUZWMw7EgO7D596pUelSlA,5,Nice relaxing atmosphere. Friendly service and...,1,6vJY67yve43Ijvn8RKVUow
2,3949,0QzCeORfF8EY34UODWRV9A,0,2017-09-03,0,7lbykaWFD8YBwT0mU1Rexw,4,Very pleased with our experience. Great off th...,0,6vJY67yve43Ijvn8RKVUow
3,3950,tlt8zNrZ6_A3DmXiM-cnBA,0,2016-06-12,0,Nd_soHwCYi8adcNIT2w9LQ,1,Wife went to this location and was horrible. N...,0,S0dnPb1OzaqdBSOxyLr7BQ
4,3952,XD0LjNuPPwJPsTAHecUh7A,0,2015-08-23,0,FUUTAr5CECrkfRa9Y2-MSg,1,Not baby friendly anymore.,NaN,NaN

In [33]:
temp = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv',
                  names = df1.columns,
                  skiprows = 1)
print(len(temp))
temp.head()

4651

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g
2,4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g
3,5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g
4,10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg

In [34]:
pd.read_csv('Data/Yelp_Reviews_Corrupt.csv',
           skiprows = len(df1) + len(df2),
           names = df1.columns)

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,Cons:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,- Dusty! Not sure if it's all of Vegas but I...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,- Valet parking: kinda inconvenient when you ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,- Sofabed is extremely flimsy,if you have more than 2 people,insist on 2 queen beds. the sofa cushions ar...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Other points:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2577,First off,it was really awkward sitting on the benches ...,as people walked past us while to wait for ou...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2578,Second,when we were seated,it was so loud. It felt like we were in a hig...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2579,Finally - Food was mediocre. I was extremely d...,but it wasn't flavourful.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2580,Wasn't worth the hype,unfortunately.,1,PkRFSQgSfca9Tamq7b2LdQ,NaN,NaN,NaN,NaN,NaN,NaN
2581,4206,WdBWhGe4Siqg3IYTc4_K4A,0,2016-08-15,0,O0ttxNGxHKtD8Cnnwc_j1g,1,Sunday at 8p. Not many people here at all. We ...,and no one came to take our drink order. We w...,0

## Summary

Congratulations, you now practiced your Pandas-importing skills!